# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Mac system files
.DS_Store

# Data files (too large for GitHub)
data/raw/*.csv

#Ignore Lake house
lakehouse/

#Ignore image
docs/images/

#Ignore Local ML Runs
mlruns/
mlflow.db
.env
